{% extends 'blog/base.html' %}
{% block content%}
	<article class="media content-section">
		<img class="rounded-circle article-img" src="{{ object.author.profile.img.url }}">
		<div class="media-body">
		    <div class="article-metadata">
		      <a class=" text-light mr-2" href="{% url 'user-post' object.author.username %}">{{ object.author }}</a>
		      <small class="text-light">{{ object.date_posted|date:"F d, Y" }}</small>
		    </div>
		    <div>
			    <h2 class="article-title">{{ object.title }}</h2>
			    <p class="article-content">{{ object.content }}</p>
			</div>
		    <div>
	      		{% if object.author == user %}
	      			<a class="btn btn-primary btn-sm mt-1 mb-1" href="{% url 'post-update' object.id %}">Update</a>
	      			<a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' object.id %}">Delete</a>
	      		{% endif %}
	      			<a class="btn btn-warning btn-sm mt-1 mb-1" href="{% url 'add_comment_to_post' pk=post.pk %}">Comment</a>
	     	</div>
		</div>
	</article>

	<hr>
	{% for comment in post.comments.all %}
		{% if user.is_authenticated or comment.approved_comments %}
			<article class="media content-section">
				<img class="rounded-circle article-img" src="{{ post.author.profile.img.url }}">
				<div class="media-body">
				    <div class="article-metadata">
				      <a class="text-light mr-2" href="{% url 'user-post' post.author.username %}">{{comment.author}}</a>
				      <small class="text-light">{{ comment.created_date|date:"F d, Y" }}</small>
					   
					</div>
					<div>
						<p class="article-content">{{ comment.text|linebreaks }}</p>
					    {% if not comment.approved_comments and user.is_superuser %}
					    		<a class="btn btn-success btn-sm mt-1 mb-1" href="{% url 'comment_approve' pk=comment.pk %}"><span class="glyphicon glyphicon-remove">✔</span></a>	
					    		<a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'comment_remove' pk=comment.pk %}"><span class="glyphicon glyphicon-remove">✖</span></a>
					    {% elif user.is_superuser %}
					    		<a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'comment_remove' pk=comment.pk %}"><span class="glyphicon glyphicon-remove">✖</span></a>
					    {% endif %}
					    
					</div>
				</div>
			</article>
		{% endif %}
	{% empty %}
			<article class="media content-section">
				<div class="media-body">
				    <p class="article-content">No comments here yet</p>
				</div>
			</article>
	{% endfor %}
{% endblock %}